<img id="burgerImg" src="../assets/img/burger.jpg" alt="Burger">

<h1>EAT-DA-BURGER!</h1>
<div id="content">  
  <div id="plate">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Plate</h3>
      </div>
      <div class="panel-body">
        {{#each burgers}}
          {{#unless this.devoured}}
            <div class="notDevouredGroup">       
              <div class="notDevoured">
                  {{this.burger_name}}
              </div>    
              <div>
                <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="devoured" value="true">
                  <input id="customerName" type="text" placeholder="Customer?" name="name">
                  <button type="submit" class="btn btn-danger devourBtn">Devour it!</button>
                </form>
              </div>
            </div>
          {{/unless}}
        {{/each}}
      </div>
    </div>
  </div>
  <div id="waiter">
    <h2 class="waiterText">Give the waiter your order</h2>
    <form class="create-update-form" action="burgers/create" method="POST">

        <input type="text" id="id" name="burger_name">
        <br><button type="submit" class="btn btn-primary placeOrder">Place Order</button>
        <p>Enter a burger you want to eat and click the "submit" button.</p>

    </form>
  </div>  
  <div id="stomach">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Stomach</h3>
      </div>
      <div id="devouredText" class="panel-body">
        {{#each burgers}}
          {{#if this.devoured}}
              <div class="devoured">
                <p>{{this.burger_name}} eaten by {{User.name}}</p>
                </div>
              </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
