html, body {
	width: 100%;
	height: 100%;
}

#burgerImg {
    width: 20%;
	padding-top: 50px;    
}

#customerName {
	position: absolute;
	width: 75px;
	right: 65px;
	top: 0px;
}

.devourBtn {
	padding: 0px;
	position: absolute;
	right: 0px;
	top: 2px;
}

.notDevoured {
	width: auto;
}

.notDevouredGroup {
	position: relative;
	padding-bottom: 10px;
}

#content {
	padding-top: 50px;
}

h1, h2, .placeOrder, input, #burgerImg {
	margin: auto;
    height: auto;
    display: block;
}

#plate, #waiter, #stomach {
	position: absolute;
}

#waiter {
	width: 34%;
	left: 33%;
}

#stomach, #plate {
	width: 30%;
}

#plate {
	left: 3%;
}

#devouredText {
	padding-bottom: 0px;
}

#stomach {

	right: 3%;
}

.waiterText {
	padding-bottom: 10px;
}

h1, h2, p, .panel-title {
	text-align: center;	
}

.panel-title {
	font-size: 24px;
}